#main-content{
	width: 65%;
	margin: 50px 4% 0 4%;
	display: inline-block;
}

.blog-post{
	margin-bottom: 50px;
	border: 1px solid rgb(220, 220, 220);
	color: rgb(120, 120, 120);
	background-color: white;
}

.blog-date{
	float: left;
	padding: 10px 0;
	width: 80px;
	text-align: center;
}

.blog-date-day{
    font-size: 35px;
    line-height: 40px;
    color: rgb(60, 60, 60);
}

.blog-title-author{
	float: right;
	padding: 15px 20px 20px 20px;
	border-left: 1px solid rgb(220, 220, 220);
	width: calc(100% - 121px);
	height: 80px;
}

.blog-title{
	font-size: 30px;
    color: rgb(60, 60, 60);
}

.blog-author-name{
	color: rgb(66, 134, 244);
}

.blog-img{
	width: 100%;
}

.blog-paragraph{
	padding: 20px 25px;
	font-family: Poppins-light;
	color: rgb(140, 140, 140);
}

.blog-read-more{
	color: rgb(66, 134, 244);
	font-family: Poppins;
}

@media (max-width: 1080px){
	#main-content{
		width: 92%;
	}
}

@media (max-width: 750px){
	.blog-title{
		font-size: 24px;
	}
}

@media (max-width: 566px){
	.blog-date{
		padding-top: 20px;
	}
	.blog-title-author{
		height: auto;
	}
}