#right-sidebar{
	width: 23%;
	float: right;
	margin: 50px 4% 0 0;
	color: rgb(60, 60, 60);
}

.right-sidebar-section{
	background-color: white;
	border: 1px solid rgb(220, 220, 220);
	margin-bottom: 30px;
}

#search-bar{
	padding: 10px 0 10px 15px;
}

#blog-search{
	width: calc(100% - 60px);
	font-family: Poppins;
	font-size: 16px;
	color: rgb(60, 60, 60);
	border: none;
	outline: none;
}

.right-sidebar-section-title{
	padding: 15px;
	color: rgb(60, 60, 60);
	border-bottom: 1px solid rgb(220, 220, 220);
}

.right-sidebar-section-content{
	padding: 20px 15px;
}

.popular-post{
	height: 70px;
	margin-bottom: 20px;
}

.right-sidebar-section-content a:last-of-type .popular-post{
	margin-bottom: 0;
}

.popular-post-img-container{
	float: left;
	margin-right: 10px;
	width: 70px;
	height: 70px;
	overflow: hidden;
}

.popular-post-img{
	height: 100%;
}

.popular-post-title{
	color: rgb(60, 60, 60);
}

.popular-post-date{
	font-family: Poppins-light;
	color: rgb(140, 140, 140);
}

.popular-tag{
	margin-bottom: 10px;
	font-family: Poppins-light;
	color: rgb(60, 60, 60);
}

.right-sidebar-section-content a:last-of-type .popular-tag{
	margin-bottom: 0;
}

@media (max-width: 1080px){
	#right-sidebar{
		width: 92%;
		margin: 20px 4% 60px 4%;
		float: none;
	}
	.right-sidebar-section{
		overflow: auto;
	}
	.popular-post{
		width: 45%;
		float: left;
		margin-right: 5%;
	}
	.right-sidebar-section-content a:last-of-type .popular-post{
		margin-right: 0;
	}
}

@media (max-width: 600px){
	.popular-post{
		width: 100%;
		float: none;
		margin-right: 0;
	}
}