@font-face {
	font-family: Poppins;
	src: url('../fonts/Poppins-Medium.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family: Poppins-light;
	src: url('../fonts/Poppins-Light.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

body{
	margin: 0;
	padding: 0;
	font-family: Poppins;
	overflow-x: hidden;
}

a{
	text-decoration: none;
}

.link:hover{
	text-decoration: underline;
}