#what-i-do{
  overflow: auto;
}

#what-i-do .column{
	float: left;
  width: 30%;
  padding: 0.5% 1% 10px 1%;
}

#what-i-do .column:nth-of-type(2){
  width: 24%;
}

#what-i-do .column:first-of-type{
	padding-left: 8%;
}

#what-i-do .icon{
	font-size: 56px;
}

#what-i-do .title{
	position: relative;
	font-size: 20px;
	font-weight: bold;
	color: rgb(60, 60, 60);
	margin: 20px 0 0 0;
}

#what-i-do p{
	font-size: 16px;
	font-family: Poppins;
	color: rgb(60, 60, 60);
	margin-top: 0;
}

@media (max-width: 800px){
	#what-i-do{
		height: auto;
	}
	#what-i-do .column{
		float: none;
    width: 84%;
    padding-left: 8%;
	}
	#what-i-do .column:nth-of-type(2){
  	width: 84%;
	}
	#what-i-do .column:last-of-type{
    margin-bottom: 60px;
	}
}