#worked{
	position: relative;
	width: 100%;
}

#worked-background-container{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../images/index/pattern-topo.png');
	z-index: -1;
}

#worked .filter{
	position: absolute;
	opacity: 0.95;
	width: 100%;
	height: 100%;
}

#worked h1{
	width: 100%;
	padding-top: 40px;
}

#worked .list{
	margin: 20px calc(8% - 30px) 40px calc(8% - 30px);
	width: calc(84% + 60px);
	text-align: center;
}

#worked .element{
	display: inline-block;
	margin: auto;
	margin-top: 0;
	margin-bottom: 30px;
	padding: 0 25px;
}

#worked .element:last-of-type{
    margin-right: 0;
 }

#worked .title{
	display: inline-block;
	text-align: center;
	font-size: 19px;
	font-weight: bold;
	color: rgb(60, 60, 60);
}

#worked .ocupation{
	text-align: center;
	padding-bottom: 15px;
	color: rgb(140, 140, 140);
}

#worked .picture-frame{
	position: relative;
	margin: auto;
	width: 160px;
	height: 160px;
	overflow: hidden;
	border-radius: 180px;
}

#worked .picture{
	width: 100%;
}