#what-i-do{
	height: 350px;
}

#what-i-do .column{
	float: left;
  width: 28%;
  padding: 1%;
}

#what-i-do .column:first-of-type{
	padding-left: 8%;
}

#what-i-do .icon{
	font-size: 56px;
}

#what-i-do .title{
	position: relative;
	font-size: 20px;
	font-weight: bold;
	color: rgb(60, 60, 60);
	margin: 20px 0 20px 0;
}

#what-i-do p, #what-i-do li{
	font-size: 16px;
	font-family: Poppins;
	color: rgb(60, 60, 60);
}

@media (max-width: 600px){
	#what-i-do{
		height: auto;
	}
	#what-i-do .column{
		float: none;
    width: 84%;
    padding-left: 8%;
	}
	#what-i-do .column:last-of-type{
    margin-bottom: 60px;
	}
}