.blog{
	position: relative;
	width: 84%;
	height: 900px;
	left: 8%;
}

.blog .column{
	width: 380px;
  height: 430px;
	margin-right: calc(50% - 570px);
	float: left;
	overflow: hidden;
}

.blog a:last-of-type .column, .blog a:nth-of-type(3) .column{
	margin-right: 0;
}

.blog .column .container{
	width: 100%;
  height: 230px;
	margin-bottom: 10px;
	overflow: hidden;
}

.blog img{
	width: 100%;
}

.date{
	line-height: 30px;
	color: rgb(120, 120, 120);
}

.blog .title{
	position: relative;
	font-size: 19px;
	font-weight: bold;
	color: black;
}

.blog .paragraph{
	font-size: 15px;
	font-family: Poppins;
	color: rgb(90, 90, 90);
	margin: 5px 0 10px 0;
}

@media (max-width: 1330px){
	.blog{
		height: calc(650px + 33vw);
	}
	.blog .column{
		width: 46%;
		margin: 0 0 40px 0;
	}
	.blog a:first-of-type .column{
		margin-right: 8%;
	}

	.blog a:last-of-type .column{
		margin-left: 27%;
	}
}

@media (max-width: 800px){
	.blog{
		height: 1350px;
	}
	.blog a:last-of-type .column{
		margin: 0 0 40px calc(50% - 200px);
	}
	.blog .column{
		width: 400px;
		margin: 0 0 40px calc(50% - 200px);
	}
	.blog .column .container{
		height: 250px;
	}
}

@media (max-width: 600px){
	.blog{
		height: 1300px;
	}
	.blog a:last-of-type .column{
		margin: 0 0 40px calc(50% - 160px);
	}
	.blog .column{
		width: 320px;
		margin: 0 0 40px calc(50% - 160px);
	}
	.blog .column .container{
		height: 200px;
	}
}