#header{
	position: relative;
	height: 600px;
	overflow: hidden;
}

#header-background-1{
	position: absolute;
	width: 42%;
	height: 100%;
  background-color: #acbbc6;
}

#header-background-2{
	position: absolute;
	right: 0px;
	width: 58%;
	height: 100%;
  background-color: #374255;

}

#header-left-column{
	position: absolute;
	top: 90px;
	left: calc(42% - 250px);
	width: 250px;
	height: 460px;
	background-color: rgb(50, 50, 50);
}

#header-avatar-container img{
	width: 150px;
	margin: 44px;
	margin-bottom: 20px;
	padding: 4px;
	border: 2px solid rgb(150, 150, 150);
	border-radius: 100px;
}

#header-left-column hr:first-of-type{
	margin: 0 50px 30px 50px;
  border: 0;
  border-top: 1px solid rgb(80, 80, 80);
}

.header-skill{
	margin: 20px 40px 20px 20px;
	text-align: right;
	color: rgb(180, 180, 180);
	font-size: 14px;
	font-weight: bold;
}

#header-right-column{
	position: absolute;
	top: 90px;
	left: 42%;
	width: 650px;
	height: 460px;
	background-color: rgb(230, 230, 230);
}

#show-header-button-left{
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 40px;
	color: rgb(50, 50, 50);
	display: none;
}

#show-header-button-right{
	position: absolute;
	top: 20px;
	left: calc(100vw - 350px);
	font-size: 40px;
	color: rgb(50, 50, 50);
	display: none;
}

#header-name{
	margin: 80px 0 0 40px;
	font-family: Poppins-light;
	font-size: 50px;
	color: rgb(100, 100, 100);
}

#header-name b{
	font-family: Poppins;
	color: rgb(50, 50, 50);
}

#header-profession{
	margin: 0 0 40px 40px;
	font-size: 25px;
	font-weight: bold;
	color: rgb(100, 100, 100);
}

#header-personal-information{
	color: rgb(40, 40, 40);
}

#header-personal-information .label{
	float: left;
	margin: 0 0 10px 40px;
	width: 150px;
	font-weight: bold;
}

#header-personal-information .content{
	float: left;
	margin-bottom: 10px;
	width: calc(100% - 230px);
}

@media (max-width: 1200px){
	#header-background-1{
		width: calc(100% - 690px);
	}
	#header-background-2{
		width: 690px;
	}
	#header-left-column{
		left: calc(100% - 940px);
	}
	#header-right-column{
		left: calc(100% - 690px);
	}
}

@media (max-width: 990px){
	#header-background-1{
		width: 284px;
	}
	#header-background-2{
		width: calc(100% - 284px);
	}
	#header-left-column{
		left: 34px;
	}
	#header-right-column{
		left: 284px;
		width: calc(100% - 318px);
	}
}

@media (max-width: 760px){
	#header-left-column{
		transition: left 1s;
	}
	#header-right-column{
		left: 284px;
		width: 100%;
		transition: left 1s;
	}
	#show-header-button-right{
		display: block;
	}
	#header-name{
		font-size: 49px;
		margin: 80px 0 0 0;
		text-align: center;
	}
	#header-profession{
		margin: 0 0 40px 0;
		text-align: center;
	}
	#header-personal-information .label{
		margin: 0 0 10px calc(50% - 160px);
		width: 120px;
	}
	#header-personal-information .content{
		width: calc(50% + 40px)
	}
}