#worked{
	position: relative;
	width: 100%;
	height: 560px;
  margin-top: 80px;
	overflow: hidden;
	background-image: url('../images/index/pattern-topo.png');
}

#worked .filter{
	position: absolute;
	opacity: 0.95;
	width: 100%;
}

#worked h1{
	width: 100%;
  margin-top: 60px;
  margin-bottom: 50px;
}

#worked .list{
	position: absolute;
	left: 8%;
	top: 170px;
	width: 84%;
}

#worked .element{
	width: 25%;
	float: left;
	margin-bottom: 50px;
}

#worked .title{
	margin-bottom: 5px;
	text-align: center;
	font-size: 19px;
	font-weight: bold;
	color: rgb(60, 60, 60);
}

#worked .ocupation{
	text-align: center;
	padding-bottom: 15px;
	color: rgb(140, 140, 140);
}

#worked .picture-frame{
	position: relative;
	margin: auto;
	width: 218px;
	height: 218px;
	overflow: hidden;
	border-radius: 200px;
}

#worked .picture{
	width: 100%;
}

.worked-decoration{
	width: 218px;
	height: 500px;
	position: absolute;
	bottom: -175px;
	transition: all 0.25s;
}

.worked-decoration:hover{
	bottom: 0px;
}

.worked-decoration-img{
	opacity: 0.6;
	border-radius: 200px;
	position: absolute;
	bottom: 0px;
}

#worked .icons{
	position: absolute;
	left: 15px;
	bottom: 65px;
	font-size: 16px;
  color: white;
}

@media (max-width: 1200px){
	#worked .element{
		width: 50%;
	}
}

@media (max-width: 650px){
	#worked{
		height: 900px;
	}
	#worked .element{
		width: 100%;
	}
}