#my-works-section{
  margin-top: 40px;
}

.my-works{
	position: relative;
	margin-bottom: 30px;
	height: 120vw;
}

.my-works .container{
	width: 33.3333%;
	height: 40vw;
	overflow: hidden;
	float: left;
	position: relative;
}

.my-works .content-img{
	position: relative;
	width: 100%;
	filter: brightness(50%);
	transition: all 1s;
}

.my-works .container:hover a .content-img{
	transform: scale(1.1, 1.1);
	filter: brightness(20%);
}

.my-works .text1{
	position: absolute;
	top: 65%;
	left: 10%;
	font-size: 19px;
	font-weight: bold;
	color: rgb(220, 220, 220);
	pointer-events: none;
}

.my-works .text2{
	position: absolute;
	top: 70%;
	left: 10%;
	font-size: 40px;
	color: white;
	pointer-events: none;
}

.my-works .text3{
	position: absolute;
	top: 10%;
	left: 10%;
  right: 10%;
	font-size: 16px;
	color: white;
	pointer-events: none;
  opacity: 0;
  transition: all 1s;
}

.my-works .container:hover .text3{
  opacity: 1;
}

@media (max-width: 1100px){
	.my-works .text2{
		font-size: 30px;
	}
}

@media (max-width: 900px){
	.my-works{
		height: 290vw;
	}
	.my-works .container{
		width: 50%;
		height: 58vw;
	}
	.my-works .text2{
		font-size: 40px;
	}
}

@media (max-width: 750px){
	.my-works .text2{
		font-size: 30px;
	}

}

@media (max-width: 600px){
	.my-works{
		height: 900vw;
	}
	.my-works .container{
		width: 100%;
		height: 100vw;
	}
	.my-works .text2{
		font-size: 40px;
	}
}

@media (max-width: 500px){
	.my-works .text2{
		font-size: 30px;
	}
}