#what-i-do{
  overflow: auto;
}

#what-i-do .column{
	float: left;
  width: 28%;
  padding: 1% 1% 10px 1%;
}

#what-i-do .column:first-of-type{
	padding-left: 8%;
}

#what-i-do .icon{
	font-size: 56px;
}

#what-i-do .title{
	position: relative;
	font-size: 20px;
	font-weight: bold;
	color: rgb(60, 60, 60);
	margin: 20px 0 20px 0;
}

#what-i-do p, #what-i-do li, #what-i-do a{
	font-size: 16px;
	font-family: Poppins;
	color: rgb(60, 60, 60);
}

#what-i-do a:hover{
  text-decoration: underline;
}

#what-i-do li i{
  font-size: 12px;
  color: rgb(27, 118, 242);
}

@media (max-width: 800px){
	#what-i-do{
		height: auto;
	}
	#what-i-do .column{
		float: none;
    width: 84%;
    padding-left: 8%;
	}
	#what-i-do .column:last-of-type{
    margin-bottom: 60px;
	}
}