h1{
    position: relative;
    font-size: 35px;
    margin: 50px 0 30px 8%;
    color: rgb(60, 60, 60);
}

.reveal-animation::before{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    transition: 0.7s;
}

.reveal-animation.in::before{
	width: 0;
}