#main-content{
	width: 94%;
	margin: 50px 3% 50px 3%;
	background-color: white;
	border: 1px solid rgb(220, 220, 220);
}

#avatar-container{
	float: left;
	width: 400px;
	margin: 2%;
	margin-bottom: 5px;
	border: 1px solid rgb(200, 200, 200);
	text-align: center;
}

#avatar{
	width: 100%;
}

#name{
	font-size: 24px;
}

#occupation{
	font-size: 18px;
	color: rgb(60, 60, 60);
	margin-bottom: 10px;
}

#paragraph{
	padding: 2%;
	font-family: Poppins-light;
	color: rgb(60, 60, 60);
}

h1{
	margin: 0;
}

@media (max-width: 700px){
	#avatar-container{
		width: 100%;
		margin: 0 0 30px 0;
		border: none;
		border-bottom: 1px solid rgb(200, 200, 200);
	}
}